h1{
background-color: aqua;
border: 10px solid salmon;
border-radius: 5px;
padding-top: 10px;
}

p{
    color: blueviolet;
    text-decoration-style: dashed;
}

ol{
    background-color: cadetblue;
    border: 10px dotted rosybrown;
    border-radius: 10px;
}
img{
    width: 400px;
    height: 600px;
}
ul{
    margin: 10px;
    
}
li{
    padding-bottom: 10px;
}
.one{
    padding-bottom: 30px;
}